 ### Assignment - GitHub Repo:


Link to your online GitHub repo containing the following:

 -  .ipynb notebook containing the following :
Markdown cells explaining the process used within your script we built in class (or a database you created for own use) and subsequent SQL code cells, for both:
 -- the DDL (table builds) -  5pts for the MDL and 5pts for the SQL Code itself and
 -- the Data Loading Scripts -  5pts for the MDL and 5pts for the SQL Code itself

Using draw.io create a diagram of the datamart and include it on your GitHub repository along with the .ipynb(s) as shown above  (10 pts)

## OK, here we go!

I am using Colab to create this .ipynb, because i though Jupiter Notebook needs to be purchased, than i started to research more about it cause they said it is open source, hence free, but it got even more complicated with some random namedroping of conda, pip and what not, and that was that.

### OK, now we go!!

In class we used Data Definition Language (DDL) to create a *star schema* of database called **TargetMart**.

We started with creating *schemas*. (I ran this code in Azure Studio, becauase when i tried to run it in here i got SyntaxError: invalid syntax and they suggested I search stack overflow :)

In [ ]:
USE TargetMart;
GO

/*********************************************************/
/******************    Schema DDL       ******************/
/*********************************************************/

IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = 'dim' )
BEGIN
	EXEC sp_executesql N'CREATE SCHEMA dim AUTHORIZATION dbo;'
END
;

GO

IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = 'stg' )
BEGIN
	EXEC sp_executesql N'CREATE SCHEMA stg AUTHORIZATION dbo;'
END
;

GO

IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = 'f' )
BEGIN
	EXEC sp_executesql N'CREATE SCHEMA f AUTHORIZATION dbo;'
END
;

GO

We continued creating *dimension tables* first, beacuse in the design of star schema database the information flows from dimensions to the fact table(s).